@font-face {
    font-family: 'neoclassical';
    src: url('/neoclassical.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  html {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
  }

  body {background-color:rgba(218, 218, 218,100);}

  .headings {
    font-family: 'neoclassical', serif;
    font-size:2em;
  }

  .paragraph-normal {font-family:'Montserrat', sans-serif;
    font-size:1em;
    }

  .paragraph-sm{font-family:'Montserrat', sans-serif;
    font-size:.8em;
    font-weight: 300;}

  .special-font{font-family: 'Libre Barcode 39 Text', cursive;
font-size:2em;
position:fixed;
bottom:.4em;
margin-left:1em;}

.main-title{position:fixed;
right:0;
top:-.5em;
margin-right:1em}

#div-intro{margin-top:60px;
}

#last-update-div{margin-top:-30px;
  margin-bottom:30px;
font-style: italic;}

.welcome-title{margin-left:20px;
  margin-right:20px;
}

.welcome-paragraph{
margin-left:20px;
margin-right:20px;
font-weight:400;}