@font-face {
    font-family: 'neoclassical';
    src: url('/neoclassical.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  html {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
  }

  body {background-color:rgba(218, 218, 218,100);}

  .headings {
    font-family: 'neoclassical', serif;
    font-size:2em;
  }

  .paragraph-normal {font-family:'Montserrat', sans-serif;
    font-size:1em;
    }

  .paragraph-sm{font-family:'Montserrat', sans-serif;
    font-size:.8em;
    font-weight: 300;}

  .special-font{font-family: 'Libre Barcode 39 Text', cursive;
font-size:2em;
position:fixed;
bottom:0;
margin-left:1em;
z-index: -50;}

.main-title{position:fixed;
right:0;
top:-.5em;
margin-right:1em}

#div-intro{margin-top:60px;
}

#last-update-div{margin-top:-30px;
  margin-bottom:30px;
font-style: italic;}

.welcome-title{margin-left:20px;
  margin-right:20px;
}

.welcome-paragraph{
margin-left:20px;
margin-right:20px;
font-weight:400;}



.iframe-safari{
  z-index:1;
  height:60px;
  background-color: #eaeaeb;
  margin-left:30px;
  margin-right:30px;
  justify-content: center;
  text-align: center;
  display:block;
  border-radius:10px;
}

#safari-bar{margin-bottom:-10px;
position:relative;
display:flex;
top:10px;
left:10px;
align-items: center;
}

#safari-dot-red{background-color: #fd5f53;
height:10px;
width:10px;
display:flex;
margin-right:5px;
flex-direction: row;
border-radius: 50%;
}

#safari-dot-yellow{background-color: #ffd101;
  height:10px;
  width:10px;
  display:flex;
  margin-right:5px;
  border-radius: 50%;
  flex-direction: row;
  }

#safari-dot-green{background-color: #0fd337;
    height:10px;
    width:10px;
    display:flex;
    margin-right:5px;
    border-radius: 50%;
    flex-direction: row;
    }

    #safari-spacer{margin-left:20px;
      display:flex;
 }

    #safari-back-arrow, #safari-front-arrow{
      display:flex;
      font-size:1em;
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      color:#818182;
      font-weight:300;
      margin-left:7px;
      margin-right:5px;
     }

  

#url-bar{
  height:12px;
  display:flex;
  background-color:white;
  width:40%;
  border-radius: 20px;
  color: #818182;
  font-size:.6em;
  font-family:'Montserrat', sans-serif;
  font-weight:400;
  padding:5px;
 margin-left:20%;
 margin-right:20%;
 text-align: center;
 justify-content: center;

}

#safari-download-icon{height:30px;
  padding:0px;
  overflow:hidden;
display:flex;
position:fixed;
right:-10px;
margin-left:5px;
}

#safari-share-icon{height:35px;
  padding:0px;
  overflow:hidden;
display:flex;
position:fixed;
right:-40px;
margin-left:5px;
}

#safari-tabs-icon{height:35px;
  padding:0px;
  overflow:hidden;
display:flex;
position:fixed;
right:-70px;
margin-left:5px;
}

#iframe-site-1{width:100%;
  border-style: none;
  height:60vh;
  margin-top:30px; /* allows the tab bar to be visible*/
  margin-bottom: 100px;
}

.portfolio-spacer{margin-bottom:600px;
display:block;}

